<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>丸子博客</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<link rel="stylesheet" type="text/css" href="/css/blog3.css"/>
		<link rel="stylesheet" href="/dist/css/bootstrap.css" />
	</head>
	<body>
		<!--描述：头部-->
		<header>
			<div class="heads space">
				<div class="left-box">
					<img src="img/星球.png"/>丸子星球
				</div>
				<div class="right-box">
					<div></div>
					<div class="right6">
						<span><img src="img/photo.jpg" alt="乔布斯" class="img-circle">
						高手之路</span>
						<div class="glyphicon glyphicon-file"><a href=""></a></div>
						<input type="search" />
						<div class="glyphicon glyphicon-search"></div>
					</div>
				</div>
			</div>
		</header>
		<!--描述：导航栏-->
		<nav>
			<div  class="space">
			<ul>
				<li><a href="">首页</a></li>
				<li><a href="">排行</a></li>
				<li class="sel"><a href="">我的博客</a></li>
				<li><a href="">我的游戏</a></li>
			</ul>
			</div>
		</nav>
		
		
		<!--描述：正文-->
		<article>
			<div class="space">
				<div class="bgphoto row">
					<div class="col-md-12" >
						<div class="littlebox" >
							<img src="img/photo.jpg" class="img-circle"/>
							<div class="glyphicon glyphicon-edit"></div>
							<div class="text-name">
								<span>高手-之路</span>
								<div class="myage glyphicon glyphicon-user">
									<span>24岁</span>
								</div>
							</div>
							
						</div>
					</div>
				</div>
			</div>
			
			
			<div class="space content">
				<div class=" row">
					<div class="col-md-2" >
						<div class="ranking5">
							<img src="img/steve jobs.jpg" alt="乔布斯" class="img-circle">
							<div class="name">steve jobs</div>
						</div>
					</div>
					<div class="col-md-10">
						<div class="passage">
							<a href=""><h4>金旭亮：力争上游 ——我眼中的“计算机产业链”</h4></a>
							<p class="text-muted">个人觉得，在学习软件技术时，应该高度关注并下功夫掌握靠近“上游”的“源泉技术”，而非位于“下游”的各种“衍生”技术。否则，必然陷入疲于奔命的窘境……</p>
							<div class="time">
								<p class="text-muted" >昨天22：00</p>
								<p class="glyphicon glyphicon-eye-open"></p><span class="text-muted" > 999</span>
								<p class="glyphicon glyphicon-trash"></p>
							</div>
						</div>
					</div>
				</div>
						<div class=" row">
					<div class="col-md-2" >
						<div class="ranking5">
							<img src="img/steve jobs.jpg" alt="乔布斯" class="img-circle">
							<div class="name">steve jobs</div>
						</div>
					</div>
					<div class="col-md-10">
						<div class="passage">
							<a href=""><h4>金旭亮：力争上游 ——我眼中的“计算机产业链”</h4></a>
							<p class="text-muted">个人觉得，在学习软件技术时，应该高度关注并下功夫掌握靠近“上游”的“源泉技术”，而非位于“下游”的各种“衍生”技术。否则，必然陷入疲于奔命的窘境……</p>
							<div class="time">
								<p class="text-muted" >昨天22：00</p>
								<p class="glyphicon glyphicon-eye-open"></p><span class="text-muted" > 999</span>
								<p class="glyphicon glyphicon-trash"></p>
							</div>
						</div>
					</div>
				</div>
						<div class=" row">
					<div class="col-md-2" >
						<div class="ranking5">
							<img src="img/steve jobs.jpg" alt="乔布斯" class="img-circle">
							<div class="name">steve jobs</div>
						</div>
					</div>
					<div class="col-md-10">
						<div class="passage">
							<a href=""><h4>金旭亮：力争上游 ——我眼中的“计算机产业链”</h4></a>
							<p class="text-muted">个人觉得，在学习软件技术时，应该高度关注并下功夫掌握靠近“上游”的“源泉技术”，而非位于“下游”的各种“衍生”技术。否则，必然陷入疲于奔命的窘境……</p>
							<div class="time">
								<p class="text-muted" >昨天22：00</p>
								<p class="glyphicon glyphicon-eye-open"></p><span class="text-muted" > 999</span>
								<p class="glyphicon glyphicon-trash"></p>
							</div>
						</div>
					</div>
				</div>
						<div class=" row">
					<div class="col-md-2" >
						<div class="ranking5">
							<img src="img/steve jobs.jpg" alt="乔布斯" class="img-circle">
							<div class="name">steve jobs</div>
						</div>
					</div>
					<div class="col-md-10">
						<div class="passage">
							<a href=""><h4>金旭亮：力争上游 ——我眼中的“计算机产业链”</h4></a>
							<p class="text-muted">个人觉得，在学习软件技术时，应该高度关注并下功夫掌握靠近“上游”的“源泉技术”，而非位于“下游”的各种“衍生”技术。否则，必然陷入疲于奔命的窘境……</p>
							<div class="time">
								<p class="text-muted" >昨天22：00</p>
								<p class="glyphicon glyphicon-eye-open"></p><span class="text-muted" > 999</span>
								<p class="glyphicon glyphicon-trash"></p>
							</div>
						</div>
					</div>
				</div>
						<div class=" row">
					<div class="col-md-2" >
						<div class="ranking5">
							<img src="img/steve jobs.jpg" alt="乔布斯" class="img-circle">
							<div class="name">steve jobs</div>
						</div>
					</div>
					<div class="col-md-10">
						<div class="passage">
							<a href=""><h4>金旭亮：力争上游 ——我眼中的“计算机产业链”</h4></a>
							<p class="text-muted">个人觉得，在学习软件技术时，应该高度关注并下功夫掌握靠近“上游”的“源泉技术”，而非位于“下游”的各种“衍生”技术。否则，必然陷入疲于奔命的窘境……</p>
							<div class="time">
								<p class="text-muted" >昨天22：00</p>
								<p class="glyphicon glyphicon-eye-open"></p><span class="text-muted" > 999</span>
								<p class="glyphicon glyphicon-trash"></p>
							</div>
						</div>
					</div>
				</div>
						<div class=" row">
					<div class="col-md-2" >
						<div class="ranking5">
							<img src="img/steve jobs.jpg" alt="乔布斯" class="img-circle">
							<div class="name">steve jobs</div>
						</div>
					</div>
					<div class="col-md-10">
						<div class="passage">
							<a href=""><h4>金旭亮：力争上游 ——我眼中的“计算机产业链”</h4></a>
							<p class="text-muted">个人觉得，在学习软件技术时，应该高度关注并下功夫掌握靠近“上游”的“源泉技术”，而非位于“下游”的各种“衍生”技术。否则，必然陷入疲于奔命的窘境……</p>
							<div class="time">
								<p class="text-muted" >昨天22：00</p>
								<p class="glyphicon glyphicon-eye-open"></p><span class="text-muted" > 999</span>
								<p class="glyphicon glyphicon-trash"></p>
							</div>
						</div>
					</div>
				</div>
						<div class=" row">
					<div class="col-md-2" >
						<div class="ranking5">
							<img src="img/steve jobs.jpg" alt="乔布斯" class="img-circle">
							<div class="name">steve jobs</div>
						</div>
					</div>
					<div class="col-md-10">
						<div class="passage">
							<a href=""><h4>金旭亮：力争上游 ——我眼中的“计算机产业链”</h4></a>
							<p class="text-muted">个人觉得，在学习软件技术时，应该高度关注并下功夫掌握靠近“上游”的“源泉技术”，而非位于“下游”的各种“衍生”技术。否则，必然陷入疲于奔命的窘境……</p>
							<div class="time">
								<p class="text-muted" >昨天22：00</p>
								<p class="glyphicon glyphicon-eye-open"></p><span class="text-muted" > 999</span>
								<p class="glyphicon glyphicon-trash"></p>
							</div>
						</div>
					</div>
				</div>
						<div class=" row">
					<div class="col-md-2" >
						<div class="ranking5">
							<img src="img/steve jobs.jpg" alt="乔布斯" class="img-circle">
							<div class="name">steve jobs</div>
						</div>
					</div>
					<div class="col-md-10">
						<div class="passage">
							<a href=""><h4>金旭亮：力争上游 ——我眼中的“计算机产业链”</h4></a>
							<p class="text-muted">个人觉得，在学习软件技术时，应该高度关注并下功夫掌握靠近“上游”的“源泉技术”，而非位于“下游”的各种“衍生”技术。否则，必然陷入疲于奔命的窘境……</p>
							<div class="time">
								<p class="text-muted" >昨天22：00</p>
								<p class="glyphicon glyphicon-eye-open"></p><span class="text-muted" > 999</span>
								<p class="glyphicon glyphicon-trash"></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</article>
		
		
			<nav claria-label="Page navigation" class="space pagenavi">
				  <ul class="pagination">
				    <li>
				      <a href="#" aria-label="Previous">
				        <span aria-hidden="true">&laquo;</span>
				      </a>
				    </li>
				    <li><a href="#">1</a></li>
				    <li class="active"><a href="#">2</a></li>
				    <li><a href="#">3</a></li>
				    <li><a href="#">4</a></li>
				    <li><a href="#">5</a></li>
				    <li><a id="diandian">...</a></li>
				    <li><a href="#">20</a></li>
				    <li>
				      <a href="#" aria-label="Next">
				        <span aria-hidden="true">&raquo;</span>
				      </a>
				    </li>
				  </ul>
			</nav>
		
		<footer>
			<div class="space foot">丸子科技有限公司</div>
		</footer>
	</body>
</html>
