<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>丸子博客</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<link rel="stylesheet" type="text/css" href="/css/myinfo.css"/>
		<link rel="stylesheet" href="/dist/css/bootstrap.css" />
	</head>
	<body>
		<div class="bgcolor">
			<div class="box">
				<div class="tittle">个人设置</div>
				<div class="mycontent">
					<div class="photo"><img src="img/photo.jpg" class="img-circle"/></div>
					<div class="mylabel">
						<form action="" method="post">
						  	<div>
							  	<label class="col-sm-4 nickname" for="small">
							  		<div  class="glyphicon glyphicon-user"></div>
							  		昵&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;称：</label>
							    <div class="col-sm-8">
							      	<input  type="text" class="form-control"  id="small" placeholder="高手之路">
							    
							    </div>
						  	</div>	

						  	<div>
							  	<label class="col-sm-2 nickname" for="men">
							  		<div  class="glyphicon glyphicon-heart"></div>
							  		性&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;别：</label>
							    <div class="col-sm-8">
							      	<div class="sex">
								      	<label >男</label>
								        <input name="sex" type="radio" id="men" checked>
								        <label style="text-indent: 4em;">女</label>
								        <input name="sex" type="radio" id="women ">
							 	 	</div>
							    </div>
						  	</div>	
						  	<div>
							  	<label class="col-sm-4 nickname" for="age">
							  		<div  class="glyphicon glyphicon-user"></div>
							  		年&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;龄：</label>
							    <div class="col-sm-8">
							      	<input  type="text" class="form-control"  id="age" placeholder="18">
							    </div>
						  	</div>
						  	<div>
							  	<label class="col-sm-4 nickname" for="psd1" style="font-size:14px;">
							  		<div  class="glyphicon glyphicon-lock"></div>
							  		初始密码：</label>
							    <div class="col-sm-8">
							      	<input  type="text" class="form-control"  id="psd1" >
							    </div>
						  	</div>
						  	<div>
							  	<label class="col-sm-4 nickname" for="psd2">
							  		<div  class="glyphicon glyphicon-lock"></div>
							  		更改密码：</label>
							    <div class="col-sm-8" >
							      	<input   type="text" class="form-control"  id="psd2">
							    </div>
						  	</div>
							<div >
								<div class="btn"><button type="submit" >保存修改</button></div>
						  	</div>
						</form>
					
					</div>
				</div>
				<div class="footer"><a href="myblog">返回</a></div>
			</div>
			
		</div>
	</body>
</html>
